@import url('http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond');
/* Font pairings inspired from : http://www.mrmcguire.com/10-useful-google-font-combinations-for-your-next-site/ */ 

/* main level formating*/
html {

	box-sizing: border-box;
}

body {

	background: #FFFFFF;
	border: 3px solid #429FE4;
	box-sizing: border-box;
	border-radius: 51px;		
	padding: 10px;
	text-align: center;
}

/* Universal Item Formating */
/*I was trying to do this for all divs, as most have these universal settings, but could not get it to stick*/

.div {

	/*border: 2px solid #429fe4;
	border-radius: 10px;*/
	margin: 15px;
	padding: 10px;
	
}

/*__________________________*/
/*Font Elements*/
h1 {
	
	border-bottom: 2px solid #429fe4;
	border-radius: 10px;
	font-family: 'Dancing Script', cursive;
	font-size: 46pt;
	font-weight: bold;
	line-height: 225%;
	margin: 15px;		
}

h2 {
	
	font-family: 'EB Garamond', serif;
    font-size: 18px;
    letter-spacing: 5px;
	line-height: 115%;	
	text-transform: uppercase;	
}

.project_title_special {

	border-bottom: 2px solid #429fe4;
	border-radius: 10px;
	font-family: 'Dancing Script', cursive;
	font-size: 36pt;
	font-weight: bold;
	line-height: 100%;
	
}

p {

	border-top: 2px solid #429fe4;
	border-radius: 10px;
    	font-family: 'EB Garamond', serif;
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 200%;	  
}

.special_p {

	border-top: 2px solid white;
	border-radius: 10px;
    	font-family: 'EB Garamond', serif;
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 100%;
}

.footer_p {

	border-top: 2px solid white;
	border-radius: 10px;
	font-size: 14px;
}

/*__________________________*/
/*images and logos*/	
img {

	border-radius: 20%;
	height: 195px;
	width: 100%;	
}

.logo {

	max-height: 150px;
	max-width: 150px;			
}

.logo_main {

	border: 3px solid #429FE4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 37px;
		
}

.big_picture {

	border: 2px solid #429fe4;
	border-radius: 10px;
	width: 100%;
    	height: auto;
}

/*__________________________*/
/*.lock_box {	
	
	overflow: hidden;
	position: fixed;
	top: 0;
}

/* Group 1 Main formating */
.head_box {

	background: white; /*background color for testing*/
	align-items: center;
	/*border: 2px solid #429fe4;	
	border-radius: 10px;*/
	display: flex;	
	flex-direction: column;		
	justify-content: space-around;
		
}

/* Group 1 Box 1 */
.logo_box {

	/*background: black; /*background color for testing*/
	background-color: white;
	/*border: 2px solid #429fe4;*/
	border-radius: 10px;	
	margin: 15px;
	padding: 60px;
	padding-bottom: 0;
	padding-top: 0;
	
}

/*Group 1 Box 1 content*/
.logo_main {

	/*background: white; background color for testing*/
	border: 2px solid #429fe4;
	border-radius: 10px;
	max-height: 150px;
	max-width: 150px;	
}

/* Group 1 Box 2 */
.nav_list {

	/*background: red;/* background color for testing*/
	align-items: center;	
	border-bottom: 2px solid #429fe4;
	border-radius: 10px;
	display: flex;	
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	margin: 15px;
	padding: 10px;
	padding-bottom: 0;
	padding-top: 30px;	
			
}

/*Group 1 Box 2 content*/
.nav_item{
	
	/*background: white; /*background color for testing*/	
	/*background-color: white;*/
	/*border: 2px solid #429fe4;	
	border-radius: 10px;*/
	margin: 15px;	
	padding-top: 25px;
	padding-bottom: 0;			
}

/* Group 1 Box 3 */
.name_container {
		
	/*background: green; background color for testing*/	
	background-color: white;
	/*border: 2px solid #429fe4;
	border-radius: 10px;*/	
	margin: 15px;
	padding: 10px;
	/*padding-top: 40px;*/	
}

.name_container_inner {

	/*background:white; background color for testing*/
	margin: 15px;
	padding: 10px;
}

/*__________________________*/
/* Stand Alone Image container*/
.main_article_image_container {

	/*background: purple; background color for testing*/
	border-radius: 25px;
	margin: 15px;			
}

/* Container for Stand Alone Title Box*/
.project_title_box {

	/*background: purple; background color for testing*/
	background-color: white;
	margin: auto;
	padding: 10px;	
	width: 60%;	
}

 /* Stand Alone Title Box
.project_title_box_inner {
	/*background: white; background color for testing*/	


/*__________________________*/
/* Group 2 Main Formating */
.project_box_main{

	/*background: purple; background color for testing*/
	flex-flow: column wrap;	
	margin: 15px;
	padding: 10px;	
}

.project_box {

	display: flex;
	justify-content: space-between;
}

/* Group 2 Box 1-3 */
.project_card {	
	/*background: black; /*background color for testing*/
	/*border: 2px solid #429fe4;
	border-radius: 10px;*/
	margin: 15px;
	padding: 10px;		
}

/* Group 2 Box 1-3 Title */
.project_title_box {

	/*background: white; background color for testing*/
	background-color: white;	
	/*border: 2px solid #429fe4;
	border-radius: 10px;*/	
}

/* Group 2 Box 1-3 Content*/
.project_box_info {

	/*background: white; background color for testing*/	
	background-color: white;
	/*border: 2px solid #429fe4;
	border-radius: 10px;*/
}

/* Footer Formating */
.footer_box {

	/*background: white; background color for testing*/	
	/*background-color: white;
	border: 2px solid #429fe4;*/
	border-radius: 10px;	
	/*background: purple; background color for testing*/
	margin: auto;
	padding: 10px;
	width: 60%;	
}

/* gives extra spacing to bottom of page to create a landing dock*/
/*.big_space_box {

	padding-bottom: 300%;
}

/*.footer_box_inner {
	/*background: white; background color for testing*/
	


/* Break Point for larger Layout */
@media only screen and (min-width: 750px) {

.head_box {

	align-items: center;
	display: flex;	
	flex-direction: row;		
	justify-content: space-around;		
}

.nav_list {

	align-items: center;		
	display: flex;	
	flex-direction: row;		
	justify-content: space-around;
	list-style: none;  	
}

.nav_item {

	margin: 15px;
	padding: 10px;
}	

.project_box_main{

	display: flex;	
	flex-direction: row;		
	justify-content: space-around;		
}

.project_card {

	align-items: stretch;
	/*border: #429fe4;
	border-radius: 20px;*/
	margin: 15px;
	padding: 5px;				
}

.logo_box {

	margin: 15px;
	padding: 5px;
}

.footer_box {

	/*background: purple; background color for testing*/
	margin: auto;
	padding: 10px;
	width: 60%;	
}	

/*.big_space_box {

	padding-bottom: 250%;
}*/
		
/* end of media Query */
